
<h1>Dashboard for social media metrics</h1>
<div class="container">
    <ul class="d-flex p-4">
        <li>Insagram</li>
        <li>Twitter</li>
        <li>Linkedin</li>
        <li>Youtube</li>
    </ul>
</div>